<div id="top"></div>
<div class="film">
  <h2 class="film--name">
    {{film.name}}
  </h2>
  <h3>Genre:</h3>
  <p>{{film.genre}}</p>
  <h3>Synopsis:</h3>
  <p>{{film.synopsis}}</p>
  <button (click)="back()">back</button>
</div>

