{{title}}
<br><br>

{{binding}}
<br>
<input type="text" [value]='binding'>
<br><br>

{{twoWayBinding}}
<br>
<input type="text" [(ngModel)]='twoWayBinding'>
<br><br>

<h3>Do I need to go shopping today?</h3>
{{alternatives}}


<br>
<button (click)="goShopping(yes.value)" value="1" #yes>Yes!</button>
<button (click)="goShopping(no.value)" value="0" #no>No</button>
<br><br>


<div [ngStyle]="{'width.px': widthExpr}">
    <div [ngClass]="{'onLoadCat': active}"></div>
</div>

<div *ngIf="go !== 'sad kitty'">

    <fieldset [ngStyle]="{'width.px': widthExpr}">
        <legend>{{legend}}</legend>
        <app-grocery *ngIf="go; else elseBlock"></app-grocery>
    </fieldset> 
    <ng-template #elseBlock ><div class="cat" [ngStyle]="{'margin':'auto'}"></div></ng-template>

</div>

