.cat {
    background-image: url("../assets/no.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 200px;
}
.cat-box{
    height: fit-content;
    width: 400px;
}
.onLoadCat {
    background-image: url('../assets/answer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
}
