
<div class="routes-container">
  <div class="route list">
    <router-outlet name="list"></router-outlet>
  </div>
  <div class="route details">
    <router-outlet name="details"></router-outlet>
  </div>
</div>