
<div class="scenarists">
  <h3 class="scenarists--name">{{scenarist.name}}</h3>
  <div class="scenarists--description">

    <p>{{scenarist.recomendation}}</p>
  
    
  </div>
  <h3>Film list:</h3>
  <small>(click for description)</small>

  <ul class="scenarist--films">
    <li  class="film" *ngFor="let piece of scenarist.filmScripts" (click)="navigate(scenarist.id, piece.name)">
      {{piece.name}}
    </li>
  </ul>
  
  <router-outlet></router-outlet>
  
</div>