.scenarists {
    width: 80%;
    margin: auto;
    

    &--name {
        box-shadow: 0 0 3px black;
        background-color: #cecece1f;
        border-radius: 3px;
        padding: 5px;
    }
    &--description{
        border-left: 1px solid #cecece;
        padding-left: 20px;
        margin-left: 10px;
        margin-bottom: 40px;

    }
    .scenarist--films {
        padding: 0;
        margin-bottom: 40px;

        .film{
            cursor: pointer;
            border-left: 3px solid #cecece;
            border-radius: 5px;
            padding-left: 20px;
            margin-bottom: 10px;
            margin-left: 10px;
            list-style: none;
        }
    }
}