.navigation {
    border: 2px solid #CECECE;
    border-radius: 5px;
    cursor: pointer;
    width: 800px;
    margin: auto;
    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navigation--list {
            display: flex;
    
            li{
                width: 70px;
                padding: 5px 10px;
                margin: 0 3px;
                list-style: none;
                text-align: center;
            }
        }
        button {
            float: right;
            width: 70px;
            padding: 7px 10px;
            margin-right: 20px;
            box-shadow: 0 0 3px black;
            background-color: #cecece1f;
            border-radius: 3px;
            border: none;
            cursor: pointer;
        }
    }

}


.active {
    box-shadow: 0 0 3px black;
    background-color: #cecece1f;
    border-radius: 3px;
}