<nav class="navigation">
    <div class="flex">
        <ul class="navigation--list">
            <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a>Home</a></li>
            <li  routerLinkActive="active" [routerLink]="['/scenarists', {outlets: {list: ['scenaristList']}}]">
                <a>Scenarists</a>
            </li>
            <li  routerLinkActive="active" [routerLink]="['/companies', {outlets: {list: ['companiesList']}}]">
                <a>Companies</a>
            </li>
        </ul>
        <button (click)="loginService.isLoggedIn = !loginService.isLoggedIn">{{loginService.isLoggedIn ? 'Logout' : 'Login'}}</button>   
    </div>
</nav>
<router-outlet></router-outlet>
