
<ul>
    <input type="text" placeholder="Add new items" [(ngModel)]="text" (keyup.enter)="addItem($event)">
    <ng-template #recursiveList let-node>
        <li *ngFor="let item of node" class="item" [class.item--selected]="( item === selectedTreeItem )">
            <div class="item--wrapper">
                <div class="item--name">{{item.name}}</div>
                <div class="items">
                    <div class="f">
                        <div class="edit" (click)="editButton(item)"></div>
                        <input type="text" *ngIf="inputEditActive && (item.id == selectedTreeItem.id)" placeholder="Edit your item here" [value]="item.name"(keyup.enter)="editItem($event, item)">
                    </div>
                    <div class="del" (click)="deleteItem(node, item)"></div>
                    <div class="f">
                        <div class="addChild" (click)="addChildButton(item)"></div>
                        <input type="text" *ngIf="inputAddChildActive && (item.id == selectedTreeItem.id)" placeholder="Add child" (keyup.enter)="addChild($event, item)">
                    </div>
                </div>
            
            </div>

                <ul *ngIf="!!item.children">
                    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
                </ul>
        </li>
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: nodes }"></ng-container>
</ul>