.item--name {
    padding-right: 40px;
}
.item--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 177px;
    height: fit-content;
    margin-top: 5px;
} 
.items {
    display: flex;
}
.f {
    display: flex;
}
.del, .edit, .addChild {
    display: block;
    margin-right: 5px;
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.del {
    background-image: url('../assets/bin.png');
}
.edit {
    background-image: url('../assets/editing.png');
}
.addChild {
    background-image: url('../assets/addition.png');
}
.del, .edit, .addChild:hover{
    cursor: pointer;
}