
<div class="company">
  <h2 class="company--name">{{company?.name}}</h2>
  <p>Address: {{company?.address?.city}}, {{company?.address?.state}}, {{company?.address?.country}}</p>
  <h3>Description:</h3>
  <p class="company--description">{{company?.description}}</p>
  <h3>Films:</h3>
  <ul class="company--films">
    <li class="film" *ngFor="let film of company?.films" [routerLink]="['/companies', {outlets: {list: ['companiesList'], details: [company?.id, film.name]}}]">{{film.name}} ({{film.realeaseDate | date: 'YYYY'}})</li>
  </ul>
</div>
