<li class="item">
    <div class="item--wrapper">
        <div class="item--name" #itemRef>{{listItem.id}}</div>
        <div class="items">
            <div class="f">
                <div class="edit" (click)="editButton(listItem)"></div>
                <input type="text" *ngIf="inputEditActive && (listItem.id == selectedTreeItem.id)" placeholder="Edit your item here" [value]="listItem.name"(keyup.enter)="editItem($event, listItem)">
            </div>
            <div class="del" (click)="deleteItem(nodes, listItem)"></div>
            <div class="f">
                <div class="addChild" (click)="addChildButton(listItem)"></div>
                <input type="text" *ngIf="inputAddChildActive && (listItem.id == selectedTreeItem.id)" placeholder="Add child" (keyup.enter)="addChild($event, listItem)">
            </div>
        </div>

    </div>

    <button (click)="sendToParent('red', listItem)">message</button>

    <ul *ngIf="!!listItem.children">
       
        <app-list #appRef *ngFor="let item of listItem.children" [listItem]="item" [nodes]="listItem.children" [randomId]="randomId" [bubbleDown]="bubbleDown" (message)="receiveFromChild($event)"></app-list>
        
    </ul>

</li>
