<ul>
  <input type="text" placeholder="Add new items" [(ngModel)]="text" (keyup.enter)="addItem($event)" >
  <app-list #appRef *ngFor="let listItem of nodes" [listItem]="listItem" [nodes]="nodes" [randomId]="randomId" [bubbleDown]="bubbleDown" (message)="receiveFromChild($event)"></app-list>
</ul>
