
.routes-container{
    display: flex;
    gap: 10px;
    width: 800px;
    margin: 20px auto;
    
    .route {
        background-color:#cecece1f;
        height: 300px; 
        box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.212);
        border-radius: 3px;
    }
    .list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 25%;
    }
    .details {
        flex: 75%;
        background-color:#fff;
        overflow-y: scroll;
    }
}