<table [ngStyle]="{'border': borderExp,'border-collapse': 'collapse'}">
  <thead>
    <tr>
      <th class="col" [ngStyle]="{'border': borderExp}"><p>Full name</p></th>
      <th class="col" [ngStyle]="{'border': borderExp}"><p>location</p></th>
      <th class="col" [ngStyle]="{'border': borderExp}"><p>Age</p></th>
      <th class="col" [ngStyle]="{'border': borderExp}"><p>Date of Birth</p></th>
      <th class="col" [ngStyle]="{'border': borderExp}"><p>full legal age</p></th>
    </tr>
    <tr [ngStyle]="{'padding': '20px 0px'}">
      <td><input type="text" [(ngModel)]='filterbyName'></td>
      <td><input type="text" [(ngModel)]='filterbyLocation'></td>
      <td><input type="number" [ngStyle]="widthExp" [(ngModel)]='filterbyAge'></td>
      <td>
        <span>Від: </span><input type="date" [(ngModel)]='filterbyBiggerD' #dateBiggerRef>
        <span> До: </span><input type="date" [(ngModel)]='filterbyLessD' #dateLessRef>
      </td>
      <td><input type="checkbox" #checkRef (change)="checkboxVal($event)"></td>
    </tr>
    </thead>
  <tbody>
    <tr  *ngFor="let user of users | filter: filterbyName | dateLessThanFilter: filterbyLessD | dateBiggerThanFilter: filterbyBiggerD | locationFilter: filterbyLocation | numberFilter: filterbyAge |legalAgeFilter: filterbyLegalAge" >
      <td class="col">{{user.name.first}} {{user.name.last}}</td>
      <td class="col">{{user.location.city}}</td>
      <td class="col">{{user.dob.age}}</td>
      <td class="col">{{user.dob.date | date: 'dd.MM.YY'}}</td>
      <td class="col" >{{user.dob.age | isAdult}}</td>
    </tr>
  </tbody>
</table>
