<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>

    <label for="name">Name: *</label>
    <input type="text" id="name" formControlName="name">
    
  </div>
  <div>

    <label for="age">Age: *</label>
    <input type="number" id="age" formControlName="age">
    <span [ngStyle]="{'color': 'red'}"  *ngIf="form.controls['age'].hasError('required')" > You better be 18 ;)</span>

  </div>
  <div>

    <label for="dob">Date of Birth: *</label>
    <input type="Date" id="dob" formControlName="dob">
    <span [ngStyle]="{'color': 'red'}"  *ngIf="form.controls['dob'].hasError('minDate')" > set some other date!</span>
    
  </div>
  <div>

    <label for="agree">Agree: *</label>
    <input type="checkbox" id="agree" formControlName="agree">
    
  </div>

  <br>
  <br>

  <div formGroupName="education">
    <div>

      <label for="uni">University: </label>
      <input type="text" id="uni" formControlName="uni">
      
    </div>
    <div>

      <label for="course">Course: </label>
      <input type="number" id="course" formControlName="course">
      <span [ngStyle]="{'color': 'red'}" *ngIf="getEdu.controls['course'].hasError('minCourse')" > You are not allowed kid</span>

      
    </div>
    <div>

      <label for="faculty">Faculty: </label>
      <input type="text" id="faculty" formControlName="faculty">
      
    </div>
    <div>

      <label for="speciality">Speciality: </label>
      <input type="text" id="speciality" formControlName="speciality">
      

    </div>

   
  
  </div>
  <button type="submit" [disabled]="form.invalid">Submit</button>

  <ng-container formArrayName="desiredTrip">
    <div *ngFor="let item of "></div>
  </ng-container>

</form>