<h3>Project details:</h3>
<div>
  <h4>People who work at this project:</h4>
  <ul>
    <li class="user" (click)="onUserClick(user)" *ngFor="let user of users">{{user.name}}</li>
  </ul>
</div>

<router-outlet></router-outlet>