
<div class="container">
  <div class="projects" (click)="onProjectClick(project)" *ngFor="let project of projects">
    <p class="projects--list">{{project.name}}</p>
  </div>
  
  <div class="projects--details">
    <router-outlet></router-outlet>
  </div>  
</div>