.container {
    
    

    .projects {
        display: flex;
       flex-direction: column;
        &--list { 
            display: inline-block;
            border: 1px solid #CECECE;
            padding: 5px;
            margin: 5px;
            cursor: pointer;
        }
    }

    .projects--details {
        flex: 75%;
        
        
    }
}