<ng-container >
  <button (click)="addUser()">Add User</button>
  <div class="user" *ngFor="let user of users">
    <p [appHighlight]='user.id'>id: {{user.id}}</p>
    <p>name: {{user.name}}</p>
    <p>username: {{user.username}}</p>
    <input type="text" id="input" placeholder="press Enter" (keyup.enter)="updUsername(user, $event)">
    <p>email: {{user.email}}</p>
    <button (click)="deleteNode(user)">delete</button>
  </div>
</ng-container>