#top {
    height: 5px;
}
.film {
    width: 80%;
    margin: auto;
    margin-top: 40px;

    .film--name {
        width: 400px;
        margin: auto;
        margin-top: 30px;
        box-shadow: 0 0 3px black;
        background-color: #cecece1f;
        border-radius: 3px;
        padding: 5px;
    }
    p {
        border-left: 1px solid #cecece;
        padding-left: 20px;
        margin-left: 10px;
    }
    button {
        margin-bottom: 40px;
        margin-left: 20px;
        padding: 5px 15px;
        border-radius: 3px;
        background-color: #cecece1f;
        box-shadow: 0 0 3px black;
        border: none;
        cursor: pointer;
    }
}