<div id="top"></div>
<div class="film">
  <h2 class="film--name">
    {{film.name}}
  </h2>
  <h3>Release Date:</h3>
  {{film.realeaseDate | date: 'dd-MM-YYYY'}}
  <h3>Genre:</h3>
  <p>{{film.genre}}</p>
  <h3>Review:</h3>
  <p>{{film.review}}</p>
  <button (click)="back()">back</button>
</div>