.navigation {
    
    li {
        list-style: none;
        display: inline-block;
        padding: 10px;
        background-color:rgb(162, 199, 115);
        a {
            text-decoration: none;
            color: black;
        }
    }
    
}
.btn {
    border: 1px solid #CECECE;
    float: right;
    background-color:rgb(162, 199, 115);
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}