
  <button class="btn" (click)="loginService.isLogged = !loginService.isLogged">{{loginService.isLogged ? 'Logout' : 'Login'}}</button>
<ul class="navigation">
  <li><a routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
  <li><a routerLinkActive="active" routerLink="/projects">Projects</a></li>
  <li><a routerLinkActive="active" routerLink="/sponsors">Sponsors</a></li>
</ul>

<router-outlet></router-outlet>
